body {
    background:sandybrown url("https://www.tripsavvy.com/thmb/gsDMledHCyYKmPoXAwz7sVnKzUY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/group-of-penguins-at-the-st--louis-zoo-139981921-5aab5dbdff1b7800365b4f20.jpg") no-repeat fixed right
}
p {
    color: navy;
    font-size: 20px;
}